* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div:hover {
  background-color: rgb(5, 141, 5);
  font-size: 2.5rem;
  border-radius: 30px;
}

div {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  position: absolute;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

body {
  position: relative;
}

#uno {
  width: 640px;
  height: 340px;
  top: 10px;
  left: 10px;
}

#dos {
  width: 640px;
  height: 340px;
  top: 10px;
  left: 660px;
}

#tres {
  width: 640px;
  height: 340px;
  top: 360px;
  left: 10px;
}

#cuatro {
  width: 640px;
  height: 340px;
  top: 360px;
  left: 660px;
}
